{% extends "cover.html" %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/assets/css/articlecontent-dev.css" />
    <link rel="stylesheet" href="/assets/js/highlight/atom-one-light-edit.css">
{% endblock style %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/assets/js/headerhidescroll.js"></script>
    <script type="text/javascript" src="/assets/js/progressbar.js"></script>
    <script src="/assets/js/highlight/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock scripts %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <progress id="content-progress" value="0"></progress>
    <div id="offsetheader">
        <img src="{{ headerimg }}"/>
    </div>
    <div id="toc">{{ tochtml }}</div>
    <div id="content">
        <div id="post">{{ posthtml }}</div>
    </div>

    <!-- scroll smoothly -->
    <script>
        $(document).ready(function () {
            $("a").on('click', function (event) {

                if (this.hash !== "") {
                    event.preventDefault();

                    var hash = this.hash;

                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {

                        window.location.hash = hash;
                    });
                }
            });
        });
    </script>
    <!-- end scroll smoothly -->

    <script class="showtocwhensdrolldown">
        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                $('#toc').addClass('fix');
            } else {
                $('#toc').removeClass('fix');
            }
        });
    </script>
{% endblock content %}