{% extends "cover.html" %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/assets/css/articlecontent-dev.css" />
    <link rel="stylesheet" href="/assets/js/highlight/atom-one-light-edit.css">
{% endblock style %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/assets/js/toconscroll.js"></script>
    <script type="text/javascript" src="/assets/js/headerhidescroll.js"></script>
    <script type="text/javascript" src="/assets/js/progressbar.js"></script>
    <script src="/assets/js/highlight/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock scripts %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <progress id="content-progress" value="0"></progress>
    <div id="offsetheader">
        <img src="{{ headerimg }}"/>
    </div>
    <div id="toc">{{ tochtml }}</div>
    <div id="content">
        <div id="post">
            <h1 style="color:#fd746c;">{{ posttitle }}</h1>
            {{ posthtml }}
        </div>
    </div>
{% endblock content %}