{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/assets/css/header-index2.css" />
{% endblock style %}

{% block scripts %}
    <!-- anime-master -->
    <script src="/assets/js/anime-master/lib/anime.min.js"></script>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/d61407055c.js" crossorigin="anonymous"></script>

    <!-- scrollmagic -->
    <script src="/assets/js/ScrollMagic.min.js"></script>
    <script src="/assets/js/debug.addIndicators.min.js"></script>

    <script type="text/javascript" src="/assets/js/headerres.js"></script>
    <script type="text/javascript" src="/assets/js/headerhighlightdect.js"></script>
{% endblock scripts %}

{% block body %}
    {% include "/components/header-dev.html" %}
    {% block content %}{% endblock content %}
    {% include "/components/footer.html" %}
{% endblock body %}