<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/backtotop.css" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Home - Zihan MEI's Site</title>
    <meta name="description" content="Welcome to My Personal Site!">
    <meta name="author" content="Zihan Zephaniah MEI">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600&display=swap" rel="stylesheet">
    <script>
        (function (d) {
            var config = {
                kitId: 'cmi7aqt',
                scriptTimeout: 3000,
                async: true
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
    <!-- end fonts -->

    <!-- start favicons snippet, use https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#2c3e50">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="ZMei.moe">
    <meta name="application-name" content="ZMei.moe">
    <meta name="msapplication-TileColor" content="#fee3e1">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- end favicons snippet -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156998560-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-156998560-1');
    </script>

    <!-- anime-master -->
    <script src="/assets/js/anime-master/lib/anime.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- aos@next     -->
    <!-- <link rel="stylesheet" href="/assets/js/aos-2/dist/aos.css" /> -->

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/d61407055c.js" crossorigin="anonymous"></script>

    <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"
        integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous"></script> -->

</head>

<body>

    <!-- back to top icon -->
    <a id="backtotop">
        <svg id="layer2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.85 35.95">
            <defs>
                <style>
                    .cls-1 {
                        fill: none;
                        stroke-miterlimit: 10;
                    }
                </style>
            </defs>
            <title>backtotop</title>
            <polyline class="cls-1" points="0.43 13.95 8.43 0.95 16.43 13.95" />
            <line class="cls-1" x1="8.43" y1="25.95" x2="8.43" y2="0.95" />
            <line class="cls-1" x1="0.43" y1="0.95" x2="16.43" y2="0.95" />
        </svg>
    </a>
    <!-- end back to top icon -->

    <!-- back to top -->
    <script class="backtotop">
        var btn = $('#backtotop');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });
    </script>
    <!-- end back to top -->

</body>

</html>