<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/header-index2.css" />

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600&display=swap" rel="stylesheet">
    <script>
        (function (d) {
            var config = {
                kitId: 'cmi7aqt',
                scriptTimeout: 3000,
                async: true
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
    <!-- end fonts -->

    <!-- anime-master -->
    <script src="/assets/js/anime-master/lib/anime.min.js"></script>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/d61407055c.js" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- top nav, hide when on top -->
    <div class="topnav navori" id="navbar">
        <a class="homenav" href="/index.html" onclick="closenav()"><img src="/assets/img/logo.svg" />
            <p>Zihan MEI</p>
        </a>
        <div class="othernav">
            <a class="resdown" id="architecturenav" href="/design.html" onclick="closenav()">Design</a>
            <a class="resdown" id="codingnav" href="/blog.html" onclick="closenav()">Blog</a>
            <a class="resdown" id="literaturenav" href="/tabs.html" onclick="closenav()">Tabs</a>
        </div>
        <a class="dropicon" onclick="narrownav()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <!-- end top nav -->

    <!-- responsive navbar when width<600 -->
    <script class="responsivenavbar">
        jQuery(document).ready(function ($) {
            var alterClass = function () {
                var ww = $(window).width();
                if (ww > 600) {
                    $('#navbar').removeClass('navres');
                    $('#navbar').addClass('navori');
                    $('.cardori').removeClass('rescard');
                    $('.cardori').addClass('card');
                } else if (ww <= 601) {
                    $('#navbar').addClass('navres');
                    $('#navbar').removeClass('navori');
                    $('.cardori').addClass('rescard');
                    $('.cardori').removeClass('card');
                };
            };
            $(window).resize(function () {
                alterClass();
            });
            //Fire it when the page first loads:
            alterClass();
        });
    </script>
    <script class="opennavres">
        function narrownav() {
            if ($('.resdown').css('display') === 'none') {
                $('.resdown').css('display', 'block');
                anime({
                    targets: '.othernav',
                    opacity: [0, 1],
                    scale: [0, 1],
                    loop: false,
                    easing: 'easeOutBack',
                    duration: 300
                })
            }
            else {
                $('.resdown').css('display', 'none');
                anime({
                    targets: '.othernav',
                    opacity: [1, 0],
                    scale: [1, 0],
                    loop: false,
                    easing: 'easeOutBack',
                    duration: 300
                })
            }
        }
    </script>
    <script class="closenav">
        function closenav() {
            if ($('#navbar').hasClass('navres')) {
                $('.resdown').css('display', 'none');
            }
        }
    </script>

    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("navbar").style.top = "0";
            } else {
                document.getElementById("navbar").style.top = "-1000px";
            }
            prevScrollpos = currentScrollPos;
        }
    </script>
</body>