<div class="topnav navori" id="navbar">
    <a class="homenav" href="/index.html" onclick="closenav()"><img src="/assets/img/logo.svg" />
        <p>Zihan MEI</p>
    </a>
    <div class="othernav">
        <a class="resdown" id="architecturenav" href="/design.html" onclick="closenav()">Design</a>
        <a class="resdown" id="codingnav" href="/blog.html" onclick="closenav()">Blog</a>
        <a class="resdown" id="literaturenav" href="/tabs.html" onclick="closenav()">Tabs</a>
    </div>
    <a class="dropicon" onclick="narrownav()">
        <i class="fa fa-bars"></i>
    </a>
</div>