@import url("scrollbar.css");
@import url("selection.css");
@import url("backtotop.css");
@import url("themecolor.css");

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--mainbg);
    font-family: Montserrat, source-han-sans-cjk-sc, source-han-sans-cjk-ja, sans-serif;
}

section {
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
}

section#home {
    background-image: url("/assets/img/covers/maincover1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

section#home div.myinfo {
    position: relative;
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 20px;
    width: 100%;
}

section#home div.infopic {
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    margin: 20px;
}

section#home div.infopic img {
    position: relative;
    height: 100px;
    width: 100px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-color: #2c3e50;
    border-right-color: #fee3e1;
    border-bottom-color: #c3e1ff;
    border-left-color: #fd746c;
    border-width: 5px;
    border-style: solid;
    box-sizing: border-box;
}

h1.myname {
    font-weight: 600;
    font-size: 1.6rem;
    cursor: default;
    width: 12rem;
    margin: auto;
}

h1.myname:hover {
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    color: var(--mainhighlight);
}

h2.mytitles {
    font-weight: 400;
    font-size: 1.2rem;
}

h3.mydegrees {
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
}

h3.seconddegree {
    padding-bottom: 10px;
}

section#home div.mysocial {
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
}

section#home div.mysocial a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

section#home div.socialdecorationline {
    height: 1px;
    width: 192px;
    margin: auto;
    background-color: var(--mainfontcolor);
}

svg.social {
    height: 24px;
    width: 24px;
    fill: var(--mainfontcolor);
}

svg.social:hover {
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    fill: var(--mainhighlight);
}

div.scrolldown {
    position: absolute;
    bottom: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    stroke: var(--mainbg);
}

div.scrolldown:hover {
    stroke: var(--lightred);
    transition: .3s;
}







section#projects {
    height: 300vh;
}

h1, h2, h3, p, a, ol, ul, li {
    color: var(--mainfontcolor);
    text-align: left;
    transition: all .3s;
}

blockquote {
    padding-left: 1rem;
    margin-left: 0rem;
    border-left: solid #888888 3px;
}

blockquote p {
    font-size: .8rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    width: auto;
}

h2 {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

h3.more {
    text-align: center;
}

p {
    font-size: 1rem;
    font-weight: 200;
    width: auto;
}

ul, ol, li {
    font-size: 1rem;
    font-weight: 200;
}

ol, ul {
    margin-top: -10px;
}

b {
    font-weight: 400;
}

a:hover {
    color: var(--mainhighlight);
}