:root {
    --lightred: #ef476f;
    --mainbg: #fffcf9;
    --mainfontcolor: #34090f;
    --mainselection: #fd746c;
    --mainhighlight: #fd746c;
    --hoverrow: rgb(254, 227, 225);
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: var(--mainfontcolor);
}

::-webkit-scrollbar-thumb {
    background: var(--mainbg);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--mainhighlight);
}