@import url("themecolor.css");

::selection {
    background: var(--mainselection);
    color: var(--mainbg);
}

::-moz-selection {
    background: var(--mainselection);
    color: var(--mainbg);
}

::-webkit-selection {
    background: var(--mainselection);
    color: var(--mainbg);
}