:root {
    --lightred: #ef476f;
    --mainbg: #fffcf9;
    --mainfontcolor: #34090f;
    --mainselection: #fd746c;
    --mainhighlight: #fd746c;
    --hoverrow: rgb(254, 227, 225);
}

::selection {
    background: var(--mainselection);
    color: var(--mainbg);
}

::-moz-selection {
    background: var(--mainselection);
    color: var(--mainbg);
}

::-webkit-selection {
    background: var(--mainselection);
    color: var(--mainbg);
}