///
// Skin: Default
// Author: Tian Qi
// Email: kitian616@outlook.com
///

// main colors
$main-color-1:     #fd746c;
$text-color-1:     #fff;

$main-color-2:     #fca24d;
$text-color-2:     #fff;

$main-color-3:     #f2f2f2;
$text-color-3:     #333;

$theme-color-light:    #fd746c;
$theme-color-dark:    #2c3e50;

$main-color-theme-light: rgba(#000, .9);
$main-color-theme-dark:  rgba(#fff, .9);

// page background
$background-color: #fff;

// text colors
$text-color-theme-light-d: #2c3e50;
$text-color-theme-light:   rgba(#2c3e50, .95);
$text-color-theme-light-l: rgba(#2c3e50, .85);

$text-color-theme-dark-d:  #fff;
$text-color-theme-dark:    rgba(#fff, .95);
$text-color-theme-dark-l:  rgba(#fff, .85);

$text-color-d:    rgba($theme-color-dark, .9);
$text-color:      rgba($theme-color-dark, .8);
$text-color-l:    rgba($theme-color-dark, .7);

$text-background-color: rgba(#000, .05);

// header and footer colors
$header-text-color: $theme-color-dark;
$header-background: rgba($theme-color-light, .2);

$footer-text-color: $theme-color-dark;
$footer-background: rgba($theme-color-light, .2);

// border and shadow colors
$border-color:     mix(#2c3e50, $background-color, 20%);
$border-color-l:   mix(#2c3e50, $background-color, 10%);
$decorate-color:   rgba(#2c3e50, .1);
$mask-color:       rgba(#2c3e50, .9);
$select-color:     rgba($main-color-1, 1);

// function colors
$green:           #52c41a;
$blue:            #1890ff;
$yellow:          #fa8c16;
$red:             #f5222d;
$text-color-function: #fff;

// logo colors
$mail-color:       #0072c5;
$facebook-color:   #4267b2;
$twitter-color:    #1da1f2;
$weibo-color:      #e6162d;
$google-plus-color:#ea4335;
$telegram-color:   #32afed;
$medium-color:     #000;
$zhihu-color:      #0084ff;
$douban-color:     #42bd56;
$linkedin-color:   #1074af;
$github-color:     #000;
$npm-color:        #fff;

// highlight colors
@import "skins/highlight/tomorrow";
