---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include analytics.html -%}
    {%- include head.html -%}
    <script>
      {%- include scripts/utils/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
      {%- include scripts/audiojs/audio.min.js -%}
    </script>
    {%- include scripts/variables.html -%}
    <script>
      audiojs.events.ready(function() {
        var as = audiojs.createAll();
      });
    </script>
  </head>
  <body>
    <div class="root" data-is-touch="false">
      {{ content }}
    </div>
    <script>
      {%- include scripts/common.js -%}
    </script>
    <audio src="assets/music/childhood-dream.mp3" autoplay>
    </audio>
  </body>
</html>